.container {
    display: flex;
    width: 1000px;
    padding: 50px;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.list-group {
    display: flex;
    width: 700px;
}

.input-group {
    display: flex;
    width: 600px;
}
#addBtn{
    margin-left: 15px;
    border-radius: 7px;
}
.completed{
    text-decoration: line-through;
}
